body {
    margin: 0;
    font-family: sans-serif;
  }
  
  nav {
    background: #333;
    color: white;
    padding: 1em;
    display: flex;
    gap: 1em;
  }
  
  nav a {
    background-color: rgb(34, 104, 161);
    padding: 22px;
    margin: 0%;
    color: white;
    text-decoration: none;
    /* border: red; */
    /* border-style: solid;
    border-color: red; */
    
    border-radius: 100%;
  }
  
  main {
    padding: 1em;
    min-height: calc(100vh - 120px);
  }
  
  #player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #222;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: large;
  }

  .scheduleLinks a {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 28%;
}
  .NTL-logo {
    width: 325px;
    height: 325px;
  }