<div id="podcastIndividualContainer" class="podcastIndividualContainer">

    <img src="/static/img/back-button.png" class="backButton" onclick="history.back()" alt="Go back to previous screen">

    <img id="podcastIndividualImage" class="podcastIndividualImage" src="{{ pod.image }}" alt="">
    <br>
    <div id="podcastIndividualTitle" class="podcastIndividualTitle">{{ pod.title }}</div>
    <br>
    <div id="podcastIndividualDescription" class="podcastIndividualDescription">{{ pod.description }}</div>
    <br>
    
    <div class="RSSLinkContainer">
        <button id="copyToClipboard" name="{{pod.RSSLink}}" class="RSSLink" onclick="copyToClipboard(this.name)">Copy RSS URL</button>
    </div>

    <br>
    <br>
    <div id="podcastIndividualAllEpisodes" class="podcastIndividualAllEpisodes">
        {% for episode in pod.episodes %}
            <div class="podcastEpisodeTitle">{{ episode.title }}</div>
            <div class="podcastEpisodeDuration"> Duration: {{ episode.duration }}</div>
            <audio class="podcastEpisodeEnclosure" controls src="{{ episode.enclosure }}" preload="none"></audio>
            <hr style="width: 50%; margin-bottom: 20px; margin-top: 22px;">
        {% endfor %}
    </div>  

</div>