name: Test

on:
  push:
    branches:
        # pushing directly to Main is not permitted; there must be a PR.
      - dev
  pull_request:
    branches:
      - main
      - dev

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest      
    steps:

    - name: prep action  
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install Dependencies
      run: pip install -r requirements.txt

    - name: Install Browsers for Playwright
      run: playwright install chromium 

    - name: Test with pytest
      run: pytest